<!DOCTYPE html>
{% load static %}
{%  block content %}
<html lang="en">
<head>
<title>Lake Trust Bank </title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bank Card Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	
	<!-- css files -->
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="{% static 'css/style3.css' %}" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Niramit:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>

<!-- header -->
<header>
	<div class="container">
		<!-- nav -->
		<nav class="py-3 d-lg-flex">
			<div id="logo">
				<h1> <a href="{% url 'main' %}"><span class="fa fa-university"></span> Lake Trust Bank </a></h1>
			</div>
			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class=""><a href="{% url 'main' %}">Home</a></li>
				<li class=""><a href="{% url 'about' %}">About</a></li>
				<li class="active"><a href="{% url 'services' %}">Services</a></li>
				<li class=""><a href="{% url 'contact' %}">Contact</a></li>
				<li class="last-grid"><a href="{% url 'login' %}">Login</a></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->

<!-- inner-banner -->
<section class="inner-banner" id="home">
	<div class="inner-layer">
		<div class="container">
		</div>
	</div>
</section>
<!-- //inner-banner -->

<!-- breadcrumb -->
<div class="breadcrumb-w3pvt">
	<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="index.html">Home</a>
			</li>
			<li class="breadcrumb-item" aria-current="page">Services</li>
		</ol>
	</nav>
	</div>
</div>
<!-- //breadcrumb -->
		
<!-- services -->
<section class="banner-bottom pt-5">
	<div class="container">
		<div class="row bottom_grids text-center mt-lg-5 mt-sm-3">
			<div class="col-md-4 grid1 mb-5">
				<img src="{% static 'img/a1.png' %}" alt="" class="img-fluid">
				<h3 class="my-3">Statistics</h3>
				<p class=""> The efficiency of processing financial transactions is enhanced and well-run.  </p>
			</div>
			<div class="col-md-4 grid2 mb-5">
				<img src="{% static 'img/a2.png' %}" alt="" class="img-fluid">
				<h3 class="my-3">Security</h3>
				<p class=""> High integrated security systems that include access control and surevillance.</p>
			</div>
			<div class="col-md-4 grid3 mb-5">
				<img src="{% static 'img/a3.png' %}" alt="" class="img-fluid">
				<h3 class="my-3">Presentation</h3>
				<p class=""> Organize the slides create the text as well as add the visual element.</p>
			</div>
		</div>
	</div>
</section>
<!-- //services -->

<!-- other services -->

<!-- //other services -->
		
<!-- products -->
<section class="products py-5">
	<div class="container py-lg-5 py-3">
		<h3 class="heading mb-sm-5 mb-4">Products <strong>To Meet Your Life Goals</strong></h3>
		<div class="row products_grids text-center mt-5">
			<div class="col-md-3 col-6 grid4">
				<div class="prodct1 border p-3">
					<a href="{% url 'apply-loan' %}">
						<img src="{% static 'img/a1.png' %}" alt="" class="img-fluid">
						<h3 class="mt-2"> Personal Loan</h3>
						<span class="fa fa-long-arrow-right"></span>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-6 grid5">
				<div class="prodct1 border p-3">
					<a href="{% url 'tranfer' %}">
						<img src="{% static 'img/a2.png' %}" alt="" class="img-fluid">
						<h3 class="mt-2">Transfer</h3>
						<span class="fa fa-long-arrow-right"></span>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-6 grid6 mt-md-0 mt-3">
				<div class="prodct1 border p-3">
					<a href="{% url 'transaction' %}">
						<img src="{% static 'img/a5.png' %}" alt="" class="img-fluid">
						<h3 class="mt-2">Transaction</h3>
						<span class="fa fa-long-arrow-right"></span>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-6 grid7 mt-md-0 mt-3">
				<div class="prodct1 border p-3">
					<a href="{% url 'card' %}">
						<img src="{% static 'img/a4.png' %}" alt="" class="img-fluid">
						<h3 class="mt-2">Credit Cards</h3>
						<span class="fa fa-long-arrow-right"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //products -->

<!-- footer -->
<footer class="footer py-5">
	<div class="container pt-lg-4">
		<div class="row">
			<div class="col-lg-3 col-sm-6 footer-top">
				<h4 class="mb-4 w3f_title">Contact Info</h4>
				<ul class="list-w3">
					<li><span class="fa mr-1 fa-map-marker"></span>2130 Fulton Street, San Diego, CA 94117-1080 USA</li>
					<li class="my-2"><span class="fa mr-1 fa-phone"></span>1-600-1234-567</li>
					<li class="my-2"><span class="fa mr-1 fa-phone"></span>1-600-1234-567</li>
					<li class=""><span class="fa mr-1 fa-envelope"></span>laketrustbankogn@gmail.com</li>
				</ul>
			</div>
			
			<div class="col-lg-2 col-sm-4 mt-lg-0 mt-sm-5 mt-4">
				<h4 class="mb-4 w3f_title">Other Links</h4>
				<ul class="list-w3">
					<li class="my-2">
						<a href="{% url 'card' %}">
							Credit Cards
						</a>
					</li>
					<li class="my-2">
						<a href="{% url 'apply-loan' %}">
							Loans
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<!-- //footer bottom -->
</footer>
<!-- //footer -->

<!-- middle -->
<section class="middle py-4">
	<div class="container">
		<p><strong class="mr-2">Our Offerings & Calculators:</strong> Personal loans, Home and car loans, loan calculators, Savings accounts, Credit cards, Insurance.</p>
		<p><strong class="mr-2">Bank Smart:</strong> Internet Banking, Online Banking, Cardless transactions, Fixed deposits, Pin generation, Card active status.</p>
	</div>
</section>
<!-- //middle -->

<!-- copyright -->
<section class="copy-right py-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<p class="">Copyright &copy; otis Foundation 2011-2022
				</p>
			</div>
			<div class="col-lg-5 mt-lg-0 mt-3">
				<ul class="list-w3 d-sm-flex">
					<li>
						<a href="{% url 'terms' %}#Privicy Policy">
							Privicy Policy
						</a>
					</li>
					<li class="mx-sm-4 mx-3">
						<a href="{% url 'terms' %}#Terms & Conditions">
							Terms & Conditions
						</a>
					</li>
					<li>
						<a href="{% url 'terms' %}#Disclaimer">
							Disclaimer.
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- //copyright -->

<!-- move top -->
<div class="move-top text-right">
	<a href="#home" class="move-top"> 
		<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
	</a>
</div>
<!-- move top -->

</body>
{%  endblock content %}
</html>